In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\jason\OneDrive\Documents\Python QT\ML_Model\data\ratings.csv")

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [6]:
df.info()

Pandas version: 2.3.1
Shape: (5976479, 3)
Columns: ['user_id', 'book_id', 'rating']

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  int64
 2   rating   int64
dtypes: int64(3)
memory usage: 136.8 MB
None

In [7]:
df.describe()

            user_id       book_id        rating
count  5.976479e+06  5.976479e+06  5.976479e+06
mean   2.622446e+04  2.006477e+03  3.919866e+00
std    1.541323e+04  2.468499e+03  9.910868e-01
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.281300e+04  1.980000e+02  3.000000e+00
50%    2.593800e+04  8.850000e+02  4.000000e+00
75%    3.950900e+04  2.973000e+03  5.000000e+00
max    5.342400e+04  1.000000e+04  5.000000e+00

The mean is ~3.9 which means that the model should only recommend books which having a rating of 4 or 5.

In [8]:
df.isnull().sum()

user_id    0
book_id    0
rating     0
dtype: int64

Data is completely clean.

In [11]:
df['user_id'].value_counts().min()

np.int64(19)

This means that each user has enough rating data for the model to determine their preferences.